.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 302px;
}

.u-section-1 .u-image-1 {
  width: 453px;
  height: 252px;
  margin: 26px 117px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -165px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 570px;
    height: 389px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -166px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 368px;
    margin-right: 87px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 232px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -103px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 503px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 40px auto 11px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 452px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 357px;
  min-height: 452px;
  background-image: url("3b171116-23fb-4bd2-a8ac-65b63fe65372.png");
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 452px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-style: normal;
  margin: 72px 39px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-2 .u-image-1 {
    width: 219px;
    margin-top: 35px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 200px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-2 .u-image-1 {
    width: 254px;
    margin-right: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 228px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-2 .u-image-1 {
    width: 427px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 200px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-2 .u-image-1 {
    width: 252px;
    margin-right: 8px;
    min-height: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 228px;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 569px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: auto;
  background-image: none;
  right: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 570px;
  margin: 14px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-layout-cell-1 {
  min-height: 219px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  font-size: 1.0625rem;
  margin: 12px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 157px;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  font-size: 1.25rem;
  margin: 10px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 140px;
}

.u-section-3 .u-container-layout-3 {
  padding: 35px 30px 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: -14px 439px 0 -10px;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  font-size: 1.0625rem;
  margin: 12px -10px -24px -4px;
}

.u-section-3 .u-group-1 {
  width: 556px;
  min-height: 266px;
  margin: -390px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 7px;
}

.u-section-3 .u-image-1 {
  width: 493px;
  height: 185px;
  margin: 0 auto -6px 26px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: -338px calc(((100% - 1140px) / 2) + 16px) 60px calc(((100% - 1140px) / 2) + 600px);
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 528px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    margin-left: 650px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-text-1 {
    margin-top: -15px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-top: 11px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-top: -38px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 10px;
    margin-right: 26px;
    margin-left: 364px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -110px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin: -81px 112px 0 auto;
  }

  .u-section-3 .u-text-7 {
    margin-top: -442px;
    margin-right: -10px;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 351px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -120px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 47px;
  }

  .u-section-3 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 16px);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 294px;
  }

  .u-section-3 .u-shape-1 {
    width: 252px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-1 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -16px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -113px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 85px;
    margin-right: 0;
    margin-left: 260px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 124px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-7 {
    margin-top: -385px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 278px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 779px;
  margin: 44px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.8;
  font-weight: 700;
  width: 680px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 700;
  margin: -62px -691px 26px 1389px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 181px;
    margin-right: 181px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 230px;
    margin-right: 230px;
  }

  .u-section-5 .u-text-3 {
    width: 442px;
    margin-left: 1289px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 1179px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 1089px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
    margin-left: 989px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 694px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 779px;
  margin: 44px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 700;
  margin: -57px -691px 65px 1389px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 181px;
    margin-right: 181px;
  }

  .u-section-6 .u-text-2 {
    width: 680px;
    margin-left: 230px;
    margin-right: 230px;
  }

  .u-section-6 .u-text-3 {
    width: 442px;
    margin-left: 1289px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 1179px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-6 .u-text-3 {
    margin-bottom: 60px;
    margin-left: 1089px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
    margin-left: 989px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 285px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 44px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 700;
  margin: -62px -691px 70px 1389px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    width: 779px;
    margin-left: 181px;
    margin-right: 181px;
  }

  .u-section-7 .u-text-2 {
    width: 680px;
    margin-left: 230px;
    margin-right: 230px;
  }

  .u-section-7 .u-text-3 {
    width: 442px;
    margin-left: 1289px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 1179px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-7 .u-text-3 {
    margin-bottom: 60px;
    margin-left: 1089px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-7 .u-text-3 {
    width: 340px;
    margin-left: 989px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 285px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 44px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.6;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 700;
  margin: -62px -691px 70px 1389px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    width: 779px;
    margin-left: 181px;
    margin-right: 181px;
  }

  .u-section-8 .u-text-2 {
    width: 680px;
    margin-left: 230px;
    margin-right: 230px;
  }

  .u-section-8 .u-text-3 {
    width: 442px;
    margin-left: 1289px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 1179px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-8 .u-text-3 {
    margin-bottom: 60px;
    margin-left: 1089px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-8 .u-text-3 {
    width: 340px;
    margin-left: 989px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 694px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 779px;
  margin: 44px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-9 .u-btn-1 {
  padding: 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 700;
  margin: -57px -691px 65px 1389px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 181px;
    margin-right: 181px;
  }

  .u-section-9 .u-text-2 {
    width: 680px;
    margin-left: 230px;
    margin-right: 230px;
  }

  .u-section-9 .u-text-3 {
    width: 442px;
    margin-left: 1289px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 1179px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-9 .u-text-3 {
    margin-bottom: 60px;
    margin-left: 1089px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-9 .u-text-3 {
    width: 340px;
    margin-left: 989px;
  }
}