.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 302px;
}

.u-section-1 .u-image-1 {
  width: 453px;
  height: 252px;
  margin: 25px 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -165px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 570px;
    height: 389px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -166px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 368px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 232px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -103px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 367px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 40px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 327px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 30px;
}

.u-section-2 .u-group-1 {
  width: 578px;
  min-height: 286px;
  margin: 0 auto 0 -8px;
}

.u-section-2 .u-image-1 {
  width: 366px;
  height: 316px;
  margin: 0 89px -30px auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 327px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 28px 193px 0 40px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  margin: 19px 53px 0 37px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-2 .u-group-1 {
    width: 219px;
    margin-top: 35px;
    margin-right: 13px;
    margin-left: 0;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 200px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-top: -208px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-2 .u-group-1 {
    width: 254px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 311px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 228px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -236px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-2 .u-group-1 {
    width: 427px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 200px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -208px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-2 .u-group-1 {
    width: 252px;
    margin-right: 8px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 294px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 228px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -236px;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 773px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: auto;
  background-image: none;
  right: 0;
  margin-left: 650px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 570px;
  margin: 14px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-layout-cell-1 {
  min-height: 219px;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  font-style: normal;
  font-size: 1.0625rem;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 219px;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  font-size: 1.0625rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 140px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: -14px 368px 0 -10px;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  font-size: 1.0625rem;
  margin: 12px -10px -24px -4px;
}

.u-section-3 .u-group-1 {
  width: 556px;
  min-height: 52px;
  margin: -241px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 7px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.1875rem;
  margin: 0 -10px -6px 10px;
}

.u-section-3 .u-image-1 {
  width: 370px;
  height: 155px;
  margin: -226px calc(((100% - 1140px) / 2) + 93px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 469px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 470px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-top: -38px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 115px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 10px;
    margin-right: 26px;
    margin-left: 364px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: -110px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 93px);
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 362px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -120px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 93px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 93px);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 349px;
  }

  .u-section-3 .u-shape-1 {
    width: 252px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -113px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 85px;
    margin-right: 0;
    margin-left: 260px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 142px;
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-4 .u-sheet-1 {
  min-height: 378px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 906px;
  margin: 1px auto 0 13px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 280px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 40px 13px 0 -13px;
}

.u-section-4 .u-layout-wrap-2 {
  margin: -179px 0 1px auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 234px;
}

.u-section-4 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-4 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-style: normal;
  font-size: 1.25rem;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 234px;
  background-image: none;
}

.u-section-4 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-4 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  font-style: normal;
  font-size: 1.25rem;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 244px;
  background-image: none;
}

.u-section-4 .u-text-6 {
  margin: 20px 20px 0;
}

.u-section-4 .u-text-7 {
  font-style: normal;
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-layout-cell-5 {
  background-image: none;
  min-height: 276px;
}

.u-section-4 .u-text-8 {
  margin: 22px 20px 0;
}

.u-section-4 .u-text-9 {
  font-style: normal;
  font-size: 1.25rem;
  margin: 18px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 747px;
    margin-left: 96px;
    margin-right: 96px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 193px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 193px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 201px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 228px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 103px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-5 {
  background-image: none;
  min-height: 660px;
}

.u-section-5 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: auto;
  background-image: none;
  right: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 550px;
  margin: 1px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 222px;
}

.u-section-5 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  background-image: none;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.u-section-5 .u-text-2 {
  font-style: normal;
  font-size: 1.25rem;
  margin: 20px 0 0 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 336px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: 31px 20px 0;
}

.u-section-5 .u-text-4 {
  font-style: normal;
  font-size: 1.0625rem;
  margin: 8px 0 -19px 20px;
}

.u-section-5 .u-group-1 {
  width: 531px;
  min-height: 75px;
  margin: -244px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-container-layout-3 {
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.1875rem;
  margin: 1px 0 0 20px;
}

.u-section-5 .u-image-1 {
  width: 551px;
  height: 230px;
  margin: -289px auto 0 calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 610px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    margin-left: 650px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    min-height: 566px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 372px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    min-height: 373px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: -28px;
  }

  .u-section-5 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 336px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 226px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-shape-1 {
    width: 252px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: -41px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 142px;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-6 .u-sheet-1 {
  min-height: 525px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 906px;
  margin: 20px auto 0 13px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 280px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 40px 13px 0 -13px;
}

.u-section-6 .u-layout-wrap-2 {
  margin: -182px 0 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 416px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 13px 0 27px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 416px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 416px;
}

.u-section-6 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-layout-cell-5 {
  background-image: none;
  min-height: 416px;
}

.u-section-6 .u-container-layout-5 {
  padding-bottom: 0;
}

.u-section-6 .u-text-8 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.u-section-6 .u-text-9 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 747px;
    margin-left: 96px;
    margin-right: 96px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 343px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 343px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 343px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 103px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 624px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 60px 0 0;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 351px;
  margin: 30px auto 0 273px;
}

.u-section-7 .u-shape-1 {
  width: 316px;
  height: 153px;
  margin: -313px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.375rem;
  margin: -129px 835px 0 10px;
}

.u-section-7 .u-shape-2 {
  width: 314px;
  height: 308px;
  margin: -8px 0 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 1.375rem;
  margin: -276px 12px 60px 843px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    width: 519px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -138px;
    margin-right: 645px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 655px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    margin-left: 150px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 425px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 435px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 332px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -294px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 245px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 255px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 209px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -171px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 45px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 55px;
  }
}